<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/Home/Index" target="_blank">
            <img src="/img/logo-ct-dark.png" width="26px" height="26px" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">Respublika</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/Home/Index">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-desktop" style="color:black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Əsas səhifə</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Operations</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/News">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-newspaper" style="color:black;"></i>

                    </div>
                    <span class="nav-link-text ms-1">Xəbərlər</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/Categories">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-list" style="color:black;"></i>

                    </div>
                    <span class="nav-link-text ms-1">Kateqoriyalar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/NewsPaper">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-file-pdf" style="color:black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Qəzet</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/Infographics">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-photo-film" style="color:black;"></i>

                    </div>
                    <span class="nav-link-text ms-1">Infoqrafika</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/YtVideos">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-brands fa-youtube" style="color:black;"></i>

                    </div>
                    <span class="nav-link-text ms-1">Youtube Videolari</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/profile">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-regular fa-user" style="color:black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Profil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/signUp">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-plus" style="color:black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Qeydiyyatdan keç</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/logout">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-plus" style="color:black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Cixis</span>
                </a>
            </li>
           
        </ul>
    </div>
 
</aside>
