@{
    ViewData["ShowNavbar"] = false;  // Navbar'ı engelle
}




<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css"
      rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.bubble.css"
      rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.core.css"
      rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    #editor {
        transition: all 0.2s ease-in-out; /* Tüm özellikler için geçiş */
    }

       #editor.fullscreen {
            width: 100%;
            height: 100%;
            position: absolute; /* 'absolute' yerine 'fixed' kullanarak tam ekran sabitleyin */
            top: 20;
            left: 10;
            background-color: white;
            border-radius: 0; /* Köşeleri düz yap */
        }

    #tooltip {
        background-color: #333;
        color: white;
        border-radius: 4px;
        padding: 5px;
        position: absolute;
        z-index: 9999;
        visibility: hidden; /* Tooltip başlangıçta gizli olacak */
    }

        #tooltip[data-show] {
            visibility: visible; /* Tooltip görünür olacak */
        }

    #arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #333;
        transform: rotate(45deg);
    }

    #editor {
        height: 300px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #toolbar {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
        color: #333;
    }

    header {
        color: white;
        padding: 10px 20px;
        text-align: center;
    }

    main {
        padding: 20px;
        margin: auto;
        s background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        margin-top: 20px;
    }

        form label {
            display: block;
            margin: 10px 0 5px;
        }

        form input,
        form textarea,
        form select,
        form button {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        form textarea {
            resize: vertical;
            height: 150px;
        }

        form button {
            background-color: #0078d7;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

            form button:hover {
                background-color: #005bb5;
            }

    .form-container {
        display: flex;
        flex-direction: column;
    }

        .form-container input[type="file"] {
            padding: 5px;
            background-color: #fafafa;
        }

            .form-container input[type="file"]:hover {
                background-color: #f0f0f0;
            }
</style>
<header>
    <h1>Xəbər əlavə et</h1>
</header>
<main>
    <!-- Haber Gönderim Formu -->
    <form id="newsForm">
        <div class="form-container">
            <label for="newsTitle">Xəbər başlığı:</label>
            <input type="text" id="newsTitle" name="NewsTitle" required />

            <label for="newsContent">Ətraflı məlumat :</label>
            <div class="screen">
            <div id="toolbar">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
                <select class="ql-color"></select>
                <select class="ql-background"></select>
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <p class="btn" id="fullscreen"><i class="fa-solid fa-expand" style=""></i></p>
                    <i class="fa-solid fa-x"></i>

            </div>

            <div id="editor"></div>
            </div>

            <label for="newsLangId">Dil:</label>
            <select id="newsLangId" name="NewsLangId">
                <option value="">Dil seçin</option> <!-- Başlangıçta boş bir seçenek -->
            </select>

            <label for="newsCategoryId">Kateqoriya:</label>
            <select id="newsCategoryId" name="NewsCategoryId">
                <option value="">Kateqoriya seçin</option>  <!-- Başlangıçta boş bir seçenek -->
            </select>

            <label for="newsOwnerId">Xəbər sahibi:</label>
            <select id="newsOwnerId" name="NewsOwnerId">
                <option value="">Muxbir seçin</option> <!-- Başlangıçta boş bir seçenek -->
            </select>

            <input type="hidden" id="NewsAdminId" name="NewsAdminId" value=""  />

            <label for="newsRating">Aktuallıq</label>
            <select id="newsRating" name="NewsRating">
                <option value="0">Aktualliq Seçin</option> <!-- Başlangıçta boş bir seçenek -->
                <option value="5">Slider-e qoy</option> <!-- Başlangıçta boş bir seçenek -->
                <option value="4">Qacan setir</option> <!-- Başlangıçta boş bir seçenek -->
                <option value="3">Redaktorun Secimi</option> <!-- Başlangıçta boş bir seçenek -->
                <option value="1">Hec biri</option> <!-- Başlangıçta boş bir seçenek -->
            </select>

            <label for="newsTags">Tag-lər (Boşluqlarla ayırın)</label>
            <input type="text" id="newsTags" name="newsTags" placeholder="#tag1 #tag2 #tag3" />


            <!-- Haber Yayın Tarihi -->
            <label for="newsDate">Xəbər tarixi:</label>
            <input type="datetime-local" id="newsDate" name="NewsDate" />

            <label for="newsYoutubeLink">YouTube Link:</label>
            <input type="url" id="newsYoutubeLink" name="NewsYoutubeLink" placeholder="https://www.youtube.com/watch?v=lpeClO2689M" />

            <label for="newsPhotos">Xəbər şəkilləri:</label>
            <input type="file" id="newsPhotos" name="NewsPhotos" multiple accept="image/*" />
            <img id="photoPreview" style="display:none; max-width: 100px; max-height: 100px;" alt="Fotoğraf Önizlemesi">


            <label for="newsVideos">Xəbər videoları:</label>
            <input type="file" id="newsVideos" name="NewsVideos" multiple accept="video/*"/>
            <div id="videoPreviewContainer"></div>

            <button type="submit">Əlavə et</button>
        </div>
    </form>
</main>







<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
<!-- Popper.js -->
<script src="https://unpkg.com/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>


<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
      document.getElementById("fullscreen").addEventListener("click", function () {
        const screenElement = document.querySelector("#editor");
        screenElement.classList.add("fullscreen");
    });

    document.querySelector(".fa-x").addEventListener("click", function () {
        const screenElement = document.querySelector("#editor");
        screenElement.classList.remove("fullscreen");
    });

</script>
<script src="/js/news/postnews.js"></script>