@{
    ViewData["ShowNavbar"] = false;  // Navbar'ı engelle
}


<div class="container mt-5">
    <div class="card shadow border-0">
        <div class="card-header bg-gradient-primary text-white">
            <h3 class="mb-0">User əlavə et</h3>
        </div>
        <div class="card-body">
            <form id="UserForm" method="post" action="" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="userEmail" class="form-label">User Email</label>
                    <input type="email" class="form-control" id="userEmail" name="subEmail" required placeholder="Email">
                </div>
                <button type="submit" class="btn btn-primary w-100">Əlavə et</button>
            </form>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/subscribers/postsubscribers.js"></script>