<style>
    body {
        background-color: #f8f9fe;
    }
</style>

<div class="container mt-5">
    <div class="card shadow border-0">
        <div class="card-header bg-gradient-primary text-white">
            <h3 class="mb-0">Link redaktə et</h3>
        </div>
        <div class="card-body">
            <form id="categoryForm" method="post" action="" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="CategoryName" class="form-label">Link Adı</label>
                    <input type="text" class="form-control" id="LinkName" name="LinkName" required placeholder="adı">
                </div>
                <div class="mb-3">
                    <label for="CategoryUrl" class="form-label">Link URL</label>
                    <input type="text" class="form-control" id="LinkUrl" name="LinkUrl" required placeholder="LINK">
                </div>
                <div class="mb-3">
                    <label for="CategoryCoverFile" class="form-label">Link şəkli</label>
                    <input type="file" class="form-control" id="LinkCoverFile" name="LinkCoverFile">
                    <div id="coverPreview" style="margin-top: 10px;"></div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Redaktə et</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/links/putlinks.js"></script>