
<div class="container mt-5">
	<h2> Qəzeti Redakte Et</h2>
    <form id="updateForm" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="NewspaperTitle" class="form-label">Qəzet Başlığı</label>
            <input type="text" class="form-control" id="NewspaperTitle" name="NewspaperTitle" required placeholder="Qəzet başlığını daxil edin">
        </div>

        <div class="mb-3">
            <label for="NewspaperLinkFlip" class="form-label">Qəzet Linki</label>
            <input type="url" class="form-control" id="NewspaperLinkFlip" name="NewspaperLinkFlip" required placeholder="Qəzet linkini daxil edin">
        </div>

        <div class="mb-3">
            <label for="NewspaperDate" class="form-label">Qəzet Nəşr Tarixi</label>
            <input type="date" class="form-control" id="NewspaperDate" name="NewspaperDate" required>
        </div>

        <div class="mb-3">
            <label for="NewspaperPrice" class="form-label">Qəzet Qiyməti</label>
            <input type="text" class="form-control" id="NewspaperPrice" name="NewspaperPrice" required placeholder="Qəzet qiymətini daxil edin">
        </div>

        <div class="mb-3">
            <label for="NewspaperStatus" class="form-label">Qəzet Statusu</label>
            <div>
                <input type="checkbox" id="NewspaperStatus" name="NewspaperStatus">
                <label for="NewspaperStatus">Aktivdir</label>
            </div>
        </div>

        <div class="mb-3" id="add">
            <label for="NewspaperCoverUrl" class="form-label">Qəzet Üzqapağı</label>
            <input type="file" class="form-control" id="NewspaperCoverUrl" name="NewspaperCoverUrl" accept="image/*" required>
            <div id="coverPreview" style="margin-top: 10px;"></div> <!-- Resim önizleme alanı -->
        </div>

        <div class="mb-3" id="addPdf">
            <label for="NewspaperPdfFile" class="form-label">Qəzet PDF Faylı</label>
            <input type="file" class="form-control" id="NewspaperPdfFile" name="NewspaperPdfFile" accept="application/pdf" required>
            <div id="pdfPreview" style="margin-top: 10px;"></div> <!-- PDF ikon önizleme alanı -->
        </div>

        <button type="submit" class="btn btn-primary" id="saveChangesBtn">Qəzet Əlavə Et</button>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/newspaper/putnewspaper.js"></script>
